.App {
  height: 100vh;
  padding: 50px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.books {
  display: flex;
  flex-wrap: wrap;
}

.book {
  flex: 1;
  flex-direction: column;
}

img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  background-color: white;
}

/* hide scrollbar but allow scrolling */
* {
  -ms-overflow-style: none;
  /* for Internet Explorer, Edge */
  scrollbar-width: none;
  /* for Firefox */
  overflow-y: scroll;
}

*::-webkit-scrollbar {
  display: none;
  /* for Chrome, Safari, and Opera */
}