body {
  background-color: #191A1C;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #191A1C;
}

/* hide scrollbar but allow scrolling */
* {
  -ms-overflow-style: none;
  /* for Internet Explorer, Edge */
  scrollbar-width: none;
  /* for Firefox */
  overflow-y: scroll;
}

*::-webkit-scrollbar {
  display: none;
  /* for Chrome, Safari, and Opera */
}